@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.container-fluid {
    width: 100%;
    background-color: black;
}

.container {
    width: 85%;
    margin: 0 auto;
    background-color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}

.logo {
    font-size: 28px;
    font-weight: 900;
    text-decoration: none;
    color: white;
}

.logo > img {
    border-radius: 100%;
    width: 110px;
    height: 110px;
}

nav {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

nav > a {
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    color: white;
}

nav > a:hover {
    border-bottom: 2px solid white;
}

.hero {
    background-image: url("../img/banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.hero > img {
    border-radius: 100%;
    width: 200px;
    height: 200px;
}

.hero > h1{
    color: white;
    font-size: 35px;
    font-weight: 900;
    margin-bottom: 30px;
}

.hero-btn {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;

}

.hero-btn > a {
    text-decoration: none;
    background-color: white;
    color: black;
    border-radius: 50px;
    padding: 20px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    width: 200px
} 

.hero-btn > a:hover {
    background-color: lightblue;
}

.about {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin: 0px auto;
    padding: 20px;
}

.about > h1 {
    color: white;
    font-size: 40px;
    font-weight: 900;
    border-bottom: 2px dashed blue;
    border-left: 2px dashed blue;
    border-right: 2px dashed blue;
    margin-bottom: 10px;
    font-family: 'Press Start 2P', cursive;
    padding: 20px;
}

.about > p {
    color: white;
    font-size: 15px;
    font-weight: 400;
    width: 90%;
}

.about > a {
    color: black;
    background-color: white;
    width: 180px;
    padding: 15px;
    text-align: center;
    border: none;
    border-radius: 50px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    margin: 20px 0;
}

.tokenomics {
    background-color: blue;
}

.tokenomics > h1 {
    color: black;
    border-bottom: 2px dashed black;
    border-left: 2px dashed black;
    border-right: 2px dashed black;
}

.tokenomics > p {
    color: black;
    font-weight: 800;
}

.percent {
    display: flex;
    justify-content: center;
}

.percent > img {
    width: 300px;
    height: 300px;

}

.roadmap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
}


.about > img, .tokenomics > img, .roadmap > img, .join > img {
    width: 450px;
    height: 100px;
}

.timeline {
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
}

.ag-timeline-block {
    padding: 50px 0;
  }
  .ag-timeline_title-box {
    padding: 0 0 30px;
  
    text-align: center;
  }
  .ag-timeline_tagline {
    font-size: 40px;
    color: rgb(84, 89, 95);
  }
  .ag-timeline_title {
    background-image: url(../../../raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/images/bg.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
  
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    text-fill-color: transparent;
    color: transparent;
  
    font-size: 80px;
  }
  
  .ag-timeline_item {
    margin: 0 0 50px;
  
    position: relative;
  }
  .ag-timeline_item:nth-child(2n) {
    text-align: right;
  }
  
  .ag-timeline {
    display: inline-block;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  
    position: relative;
  }
  .ag-timeline_line {
    width: 2px;
    background-color: rgba(15,16,21,0.0);
  
    position: absolute;
    top: 2px;
    left: 50%;
    bottom: 0;
  
    overflow: hidden;
  
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  
  .ag-timeline_line-progress {
    width: 100%;
    height: 20%;
    background-color: #F79610;
  }
  
  .ag-timeline-card_box {
    padding: 0 0 20px 50%;
  }
  .ag-timeline_item:nth-child(2n) .ag-timeline-card_box {
    padding: 0 50% 20px 0;
  }
  .ag-timeline-card_point-box {
    display: inline-block;
    margin: 0 14px 0 -28px;
  }
  .ag-timeline_item:nth-child(2n) .ag-timeline-card_point-box {
    margin: 0 -28px 0 14px;
  }
  .ag-timeline-card_point {
    height: 50px;
    line-height: 50px;
    width: 50px;
    background-color: rgba(15,16,21,0.0);
  
    text-align: center;
    font-family: 'good-times', sans-serif;
      text-transform: uppercase;
    font-size: 28px;
    color: #E6401F;
  
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  .js-ag-active .ag-timeline-card_point {
    color: #1d1d1b;
    background-color: #E6401F;
  }
  .ag-timeline-card_meta-box {
    display: inline-block;
  }
  .ag-timeline-card_meta {
    margin: 10px 0 0;
  
    font-family: 'good-times', sans-serif;
      text-transform: uppercase;
    font-size: 20px;
    color: #fff;
  }
  .ag-timeline-card_item {
    display: inline-block;
    width: 45%;
    margin: -77px 0 0;
  
    opacity: 0;
  
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
  
    -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,.5);
    -moz-box-shadow: 0 0 0 0 rgba(0,0,0,.5);
    -o-box-shadow: 0 0 0 0 rgba(0,0,0,.5);
    box-shadow: 0 0 0 0 rgba(0,0,0,.5);
  
    -webkit-transition: -webkit-transform .5s, opacity .5s;
    -moz-transition: -moz-transform .5s, opacity .5s;
    -o-transition: -o-transform .5s, opacity .5s;
    transition: transform .5s, opacity .5s;
  
    position: relative;
  }
  .ag-timeline_item:nth-child(2n+1) .ag-timeline-card_item {
    -webkit-transform: translateX(-200%);
    -moz-transform: translateX(-200%);
    -ms-transform: translateX(-200%);
    -o-transform: translateX(-200%);
    transform: translateX(-200%);
  }
  .ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
    -webkit-transform: translateX(200%);
    -moz-transform: translateX(200%);
    -ms-transform: translateX(200%);
    -o-transform: translateX(200%);
    transform: translateX(200%);
  }
  .js-ag-active.ag-timeline_item:nth-child(2n+1) .ag-timeline-card_item,
  .js-ag-active.ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
    opacity: 1;
  
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  .ag-timeline-card_arrow {
    height: 18px;
    width: 18px;
    margin-top: 20px;
    background-color: #282828;
  
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
  
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .ag-timeline_item:nth-child(2n+1) .ag-timeline-card_arrow {
    margin-left: calc(-18px / 2);
    margin-right: calc(-18px / 2);
  }
  .ag-timeline_item:nth-child(2n) .ag-timeline-card_arrow {
    margin-left: -10px;
    right: auto;
    left: 0;
  }
  .ag-timeline-card_img {
      background: #fff;
    width: 100%;
  }
  .ag-timeline-card_title{
    font-family: 'good-times', sans-serif;
      text-transform: uppercase;
    font-size: 28px;
    color: #fff;
  }
  
  .ag-timeline-card_info{
      
      display:none;
          padding: 10px 15px;
  }
  
  
  @media only screen and (max-width: 979px) {
    .ag-timeline_line {
      left:30px;
    }
      .ag-timeline-card_info{
      
      display:block;
  }
  
    .ag-timeline_item:nth-child(2n) {
      text-align: left;
    }
  
    .ag-timeline-card_box,
    .ag-timeline_item:nth-child(2n) .ag-timeline-card_box {
      padding: 0 0 20px;
    }
    .ag-timeline-card_meta-box {
      display:none;
    }
    .ag-timeline-card_point-box,
    .ag-timeline_item:nth-child(2n) .ag-timeline-card_point-box {
      margin: 0 0 0 8px;
    }
    .ag-timeline-card_point {
      height: 40px;
      line-height: 40px;
      width: 40px;
        text-align: left;
    }
    .ag-timeline-card_item {
      width: auto;
      margin: -65px 0 0 75px
    }
    .ag-timeline_item:nth-child(2n+1) .ag-timeline-card_item,
    .ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
      -webkit-transform: translateX(200%);
      -moz-transform: translateX(200%);
      -ms-transform: translateX(200%);
      -o-transform: translateX(200%);
      transform: translateX(200%);
    }
    .ag-timeline_item:nth-child(2n+1) .ag-timeline-card_arrow {
      right: auto;
      left: 0;
    }
    .ag-timeline-card_title {
      display: block;
    }
    .ag-timeline-card_arrow {
      margin-top: 12px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .ag-format-container {
      width: 96%;
    }
  
    .ag-timeline-card_img {
      height: auto;
      width: auto;
    }
  }
  
  @media only screen and (max-width: 639px) {
    .ag-timeline_title {
      font-size: 60px;
    }
  
  
    .ag-timeline-card_desc {
      font-size: 14px;
    }
  }
  
  @media only screen and (max-width: 479px) {
  
  }
  
  @media (min-width: 768px) and (max-width: 979px) {
    .ag-format-container {
      width: 750px;
    }
  
  }

.timeline > h1 {
    color: black;
    font-size: 30px;
    font-weight: 700;
    padding: 20px;
    text-align: center;
    background-color: white;
    margin: 10px;
    border-radius: 3px;
}

.join {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-image: url('../img/footer-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.join > nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.join > nav > a {
    background-color: white;
    padding: 20px;
    border-radius: 40px;
    border:none;
    color: black;
    text-align: center;
    margin-bottom: 10px;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 20px;
}

footer > section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

footer > section > h3{
    font-size: 18px;
    font-weight: 800;
    border-bottom: 1px solid white;
    color: white;
}

footer > section > a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}











@media (max-width: 575.98px) {
    .container {
        width: 100%;
    }
    
    header {
        display: flex;
        justify-content: space-between;
        padding: 20px 20px;
    }

    nav{
        display: none;
    }
    
    .logo {
        font-size: 20px;
    }
    .logo > img {
        width: 70px;
        height: 70px;
    }

    .hero > img {
        width: 100px;
        height: 100px;
    }

    .hero > h1 {
        font-size: 22px;
        text-align: center;
    }

    .hero-btn > a {
        font-size: 14px;
        padding: 14px;
        width: 150px;
        margin: 0 10px;
    }

    .tokenomics > h1 {
        font-size: 15px;
    }

    .about > h1 {
        font-size: 15px;
    }

    .percent {
        flex-direction: column;
    } 

    .about > img, .tokenomics > img, .roadmap > img, .join> img {
        width: 250px;
        height: 100px;
    }

    .timeline {
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }
    .timeline > h1 {
        font-size: 18px;
    }

    .join > nav {
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }
    .join > nav > a {
        font-size: 13px;
        font-weight: 500;
        text-align: center;
    }
 }

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) { }

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) { }

/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) { }